<p> This is the <strong>Case</strong></p>
<%= @category.case %>

<p style = "visibility:hidden">bhbhb</p>


<p>This is the <strong>Character</strong></p>
<%= @category.character %>

<p style = "visibility:hidden">bhbhb</p>



<p>This is the <strong>Plurality</strong></p>
<%= @category.plurality %>

<p style = "visibility:hidden">bhbhb</p>


<p style = "font-size: 20px;"> <strong>Note</strong> </p>
<%= @category.side_note %>
