<p id="notice"><%= notice %></p>

<%= render @rnaming.categories %>

<p style = "visibility:hidden;">gh</p>
<p style = "visibility:hidden;">gh</p>

<%= link_to 'Edit', edit_rnaming_path(@rnaming) %> |
<%= link_to 'Back', rnamings_path %>
